/* Next line copyright (c) 2009, Yahoo! Inc. All rights reserved. Code licensed under the BSD License: http://developer.yahoo.net/yui/license.txt version: 2.8.0r4 */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}
/* Remaining lines copyright (c) 2010 The Snowball Factory, Inc. */
html {
	background-color: #005970;	
}
body {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 15px;
	color: #fff;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: #00A7E2;
}
a:hover {
	text-decoration: underline;	
}
.roundbox {
	padding: 15px;
	background-color: #fff;
	-moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
#header {
	background: url(/images/layershadow.png) bottom repeat-x;
	background-color: #fff;
	height: 103px;
	padding-top: 10px;
}
#header .content {
	width: 900px;
	margin: auto;
	height: 200px;	
}		
#header h1 {
	text-indent: -9000px;
	position: absolute;
}
#header img {
	position: absolute;	
}
#body {
	color: #005970;
	padding-top: 30px;
	background: url(/images/layershadow.png) bottom repeat-x;
	background-color: #D4DFE3;
}
#body:after, .content:after, #leftcol:after, #rightcol:after {
	content: '.';
	display: block;
	visibility: hidden;
	height: 0px;
	clear: both;
}
#body .content {
	width: 780px;
	margin: auto;
}
#body h2 {
	font-size: 25px;
	text-align: right;
	margin-right: 15px;
}
#leftcol, #rightcol {
	float: left;	
}
#leftcol {
	width: 350px;	
}
#leftcol .roundbox {
	padding-top: 35px;	
}
#leftcol p {
	margin-bottom: 1em;	
}
#rightcol {
	width: 350px;
	margin-left: 40px;
}
#rightcol .roundbox {
	margin-bottom: 20px;	
}
#links {
	background-color: #005970; /* real color */
	font-size: 20px;
	color: #005970;
}
#links .content {
	width: 900px;
	margin: auto;
	position: relative;
	height: 400px;
}
#yeti {
	position: absolute;
	background: url(/images/yeti2.png) no-repeat;
	width: 300px;
	height: 400px;
	right: -50px;
	z-index: 1;
}
#links h2 {
	color: #eee;
	font-size: 25px;
	text-align: right;
	margin-right: 15px;
}
#more {
	position: absolute;
	width: 160px; 
	top: 100px;
	right: 210px;
	z-index: 2;
}
#more .roundbox {
	line-height: 1.8em;
}
#contact {
	position: absolute;
	top: 100px;
	left: 60px;
	width: 350px;
}
#contact .roundbox {
	padding: 25px 15px;
}
#contact dl dt {
	font-size: 12px;
	margin-top: 5px;
}
#footer {
	color: #fff;
	text-align: center;
	font-size: 12px;
	padding-bottom: 10px;
}
#copyright:after {
	content: '|'
}