%div(id="header")
  %div(class="content")
    %h1
      The Snowball Factory, Inc.
    %img(src="/images/logo2.png" id="logo")
%div(id="body")
  %div(class="content")
    %div(id="leftcol")
      %h2
        Who we are
      %div(class="roundbox")
        %p
          Social media is an extremely powerful channel for distributing your content and engaging with your audience. Yet it is as complex and challenging as it is exciting.
        %p
          We build tools to help you easily reach the right audience with your content, measure their engagement, and activate them to tell their friends.
        %p
          We fundamentally believe in the power of data, and have designed our products to deliver you actionable metrics that show what worked, what didn't, and how to do better next time.      
    %div(id="rightcol")
      %h2
        What we do
      %div(class="roundbox")
        %a(href="http://totally.awe.sm")
          %img(src="/images/awesm.png")
        %p
          A campaign tracking platform designed for social media. Understand and optimize the effectiveness of your efforts on Twitter, Facebook, MySpace, and beyond.
      %div(class="roundbox")
        %a(href="http://www.fbshare.me")
          %img(src="/images/fbshare.png")
        %p
          Drive sharing of your content on Facebook with this highly-configurable sharecount button.
      %div(class="roundbox")
        %a(href="http://tweetpo.st")
          %img(src="/images/tweetpost.png")
        %p
          Simplify your publishing workflow by seamlessly updating Facebook from Twitter.
%div(id="links")
  %div(class="content")
    %div(id="more")
      %h2
        Learn more
      %div(class="roundbox")
        %ul
          %li
            %a(href="http://blog.snowballfactory.com/")
              Our blog
          %li
            %a(href="http://blog.snowballfactory.com/2008/08/31/hello-world/")
              About us
          %li
            %a(href="http://awesm.jobscore.com/")
              Jobs
    %div(id="contact")
      %h2
        Get in touch
      %div(class="roundbox")
        %dl
          %dt
            Twitter
          %dd
            @<a href="http://twitter.com/snowballfactory">snowballfactory</a>
          %dt
            Email
          %dd(id="email")
            <span id="email-1">info</span><span id="email-2">snowballfactory</span><span id="email-3">com</span>
    %div(id="yeti")
%div(id="footer")
  %span(id="copyright")
    Copyright &copy; 2010 The Snowball Factory, Inc.
  %a(href="/privacy" id="privacy")
    Privacy Policy
%script(src="/javascripts/yui-min.js")
%script(src="/javascripts/main.js")
