!!!
%html
  %head
    %title Marketing tools for social media | Snowball Factory, Inc.
    = stylesheet_link_tag "main"
    %meta{'name' => "keywords", 'content' => "facebook, twitter, myspace, linkedin, youtube, flickr, marketing, social media, analytics, awe.sm, campaign tracking, measurement, data"}
    %meta{'name' => "description", 'content' => "Snowball Factory provides tools such as awe.sm for businesses and developers to effectively use social media sites like Twitter, Facebook, and MySpace, in the ways they have come to expect from more mature online marketing channels like email and search marketing. Our products include: awe.sm, a campaign tracking platform for social media; fbShare.me, a sharecount button for Facebook; and TweetPo.st, a smarter way to update Facebook from Twitter."}
  %body
    = yield
     